*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: (0, 0, 0, 0.2);
}
.login-box{
    position: relative;
    width: 450px;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border: 2px solid #c6c3c3;
    border-radius: 15px;
    padding: 7em 3em 4em 3em;
    color: white;
    box-shadow: 0px 0px 10px 2px (0, 0, 0, 0.3);
}
.login-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    background-color: #c6c3c3;
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
    align-items: center;
}
.login-header span{
    font-size: 30px;
    color: black;
}
.login-header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #c6c3c3;
}
.login-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 #c6c3c3;
}
.input-box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}